body {
    text-align: center;
    font-family: cursive;
    background-color: aquamarine;
}

.profile {
    border-radius: 30px;
    border: 2px solid #9400d3;
    padding: 20px;
    height: 150px;
    width: 200px;
}

#welcome {
    position: absolute;
    overflow: hidden;
    height: 80px;
    color: #D8BFD8;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.83;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(63, 0, 255, 1) 65%, rgba(64, 224, 208, 1) 100%);
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
}

h1 {

    font-size: 40px;
    line-height: 1.2;
    font-family: inherit;
    font-weight: 300;
}

#name {
    font-size: 30px;
    line-height: 1.2;
    font-family: Stint Ultra Condensed;
}

h2 {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2;
    font-family: inherit;
}

#about {
    width: 100%;
    height: 100%;
    z-index: 9;
    text-align: center;
    font-size: 42px;
    font-family: monospace;
    padding-top:800px;
    background-color: white;
}

.line {
    height: 3px;
    background-color: #000;
    width: 400px;
    margin: 10px auto;
}

p {
    max-width: 600px;
    margin: 25px auto;
    font-size: 20px;
    line-height: 1.3;
}

.parallax-inner {

    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;

}

.down {
    width: 175px;
}

.menu {
    list-style: none;
    font-family: cursive;
    position: absolute;
    top: 10px;
    right: 30px;
    z-index: 10;
    cursor: pointer;
}

.link {
    float: left;
    color: darkslateblue;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size: 20px;
}

.links:hover {
    background-color: white;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.article:hover {
    color: turquoise;
}

#MyFavoritesinger {
    position: absolute;
    overflow: hidden;
    height: 0;
    color: white;
    left: 0;
    top: 1300;
    bottom: 0;
    right: 0;
    opacity: 0.93;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(76, 1, 153, 1) 38%, rgba(48, 1, 97, 1) 83%, rgba(4, 0, 8, 1) 100%);
    display: table;
    width: 100%;
    height: 200%;
    z-index: 10
}

#mywork {
    position: absolute;
    overflow: hidden;
    height: 0;
    color: white;
    left: 0;
    top: 3200px;
    bottom: 0;
    right: 0;
    opacity: 0.93;
    background: linear-gradient(155deg, rgba(63, 10, 238, 1) 0%, rgba(182, 29, 29, 1) 53%, rgba(0, 143, 136, 1) 97%);
    display: grid;
    width: 100%;
    height: 30%;
    z-index: 10;
    background-color: white;
}

.button {
    border: none;
    color: white;
    text-decoration: none;
    position: absolute;
    overflow: hidden;
    left: 570px;
    z-index: 10;
    text-align: center;
    top: 3500px;
    display: grid;
    width: 15%;
    height: 10%;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: turquoise;
    color: white;
}  